
<!--<div style="background-color: #404040  ">-->
<div style="background-image: url(assets/home/dark-metal-grid-5.jpg)">
  <img src="assets/home/bujia-1.png" style="position: absolute; top: 24%">
  <img src="assets/home/wheel-3.png" style="position: absolute; right: 1%; opacity: 0.8;">


<div class="row">
    <div class="large-3 columns">
      <h1><img src="assets/home/logo.jpg"/></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
      <li><a href="#" class="button">Inicio</a></li>
      <li><a href="#" class="button">Reparaciones</a></li>
      <li><a href="#" class="button">El taller</a></li>
      <li><a href="#" class="button">Conócenos</a></li>
      </ul>
  </div>
  </div>
  
<!-- End Header and Nav -->

<!-- First Band (Slider) -->


  <div id="slider" class="row">
    <div class="large-12 columns">
      <ul class="example-orbit" data-orbit>
        <li><img src=
        "assets/home/slide-1.JPG"></li>
        <li><img src=
        "assets/home/slide-2.JPG"></li>
        <li><img src=
        "assets/home/slide-3.JPG"></li>
      </ul>
    </div>
  </div>
    
<hr/>

<!--<script>
  var slider = document.getElementById("slider");
  var sliderImg = slider.childNodes[1].childNodes[1];
  sliderImg.setAttribute("style", "box-shadow: 1px 1px 5px white");
</script>-->

  
<!-- Three-up Content Blocks -->

  <div class="row">
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="large-4 columns">
      <img src="http://placehold.it/400x300&text=[img]" />
      <h4>This is a content section.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
  
    </div>
    
<!-- Call to Action Panel -->
<div class="row">
    <div class="large-12 columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="large-9 columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="large-3 columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>

  <!-- Footer -->
  
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>&copy; Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div> 
  </footer>

  <!--<script>
    var slider = document.getElementById("slider");
    var sliderImg = slider.childNodes[1].childNodes[1];
    sliderImg.setAttribute("style", "box-shadow: 1px 1px 5px white");
  </script>-->
<script>
  document.write('<script src=js/vendor/' +
  ('__proto__' in {} ? 'zepto' : 'jquery') +
  '.js><\/script>')
  </script>
  <script src="../../assets/js/jquery.js"></script>
  <script src="js/foundation.min.js"></script>
  <script>
    $(document).foundation();
  </script>

    <script src="../assets/js/templates/jquery.js"></script>
    <script src="../assets/js/templates/foundation.js"></script>
    <script>
      $(document).foundation();

      var doc = document.documentElement;
      doc.setAttribute('data-useragent', navigator.userAgent);
    </script>

</div>